html, body {width: 100%; height: 100%; margin:0; padding: 0;}

body{background-color:  hsl(0, 0%, 98%);}

*{padding: 0;margin: 0;}

img{width: 100%;height: 100%;}

a{text-decoration: none;}

p{font-family: Barlow Semi Condensed; font-weight: 500 600}

h5{font-family: Barlow Semi Condensed; font-weight: 500 600}

h6{font-family: Barlow Semi Condensed; font-weight: 500 600}

@font-face {
  font-family: Barlow Semi Condensed;
  src: url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);}


  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (min-width: 375px) and (max-width: 768px) {

.vertical {min-height: 100%; min-height: 100vh; display: flex; align-items: center;}
.horizontal {margin: 0 auto; width:100% } 
.container{padding: 0;}

.caixa-direita{margin:-25px;padding: 0; margin-bottom: 0}
.caixa-direita p{color: hsl(217, 19%, 35%)}

.caixa1{background-origin: content-box ; background-image: url(./images/bg-pattern-quotation.svg); background-repeat: no-repeat; background-position-x: right; background-color: hsl(263, 55%, 52%);  padding: 24px; border: none; border-radius: 3%; margin: 50px}
.caixa2{background-color: hsl(217, 19%, 35%);  padding: 24px; border: none; border-radius: 3%; margin: 50px}
.caixa3{background-color: hsl(0, 0%, 100%);  padding: 24px; border: none; border-radius: 3%; margin: 50px}
.caixa4{background-color: hsl(219, 29%, 14%);  padding: 24px; border: none; border-radius: 3%; margin: 50px}
.caixa-direita{background-color: hsl(0, 0%, 100%);  padding: 24px; border: none; border-radius: 3%; margin: 50px}

.caixa-imagem{margin-bottom: 15px;}
.caixa-imagem h5{color: hsl(0, 0%, 100%) ; font-size: 12px; margin-left: auto}
.caixa-imagem h6{color: hsl(0, 0%, 81%); line-height: 9px; font-size: 13px}
.imagem-perfil{width: 35px; height: 35px; border: none; border-radius: 50%}
.teste{margin-left: -30px}

.usuario{padding: 0;}
.usuario h5{color: hsl(0, 0%, 100%);font-size:12px;line-height:8px;}
.usuario h6{color: hsl(0, 0%, 81%); font-size:12px }
.usuario-branco h5{color: hsl(217, 19%, 35%);font-weight: 600;}
.usuario-branco h6{color: hsl(0, 0%, 81%); font-weight: 600;}


.caixa-conteudo h5{margin-bottom: 15px; color: hsl(210, 46%, 95%); font-size: 20px;font-weight: bold}
.caixa-conteudo p{margin-bottom: 15px; color: hsl(0, 0%, 81%); font-size: 14px}
.caixa-conteudo-branca h5{color: hsl(217, 19%, 35%); font-size: 19px; margin-bottom: 20px; font-weight: bold}
.caixa-conteudo-branca p{color:  hsl(0, 0%, 81%); font-size: 14px; font-weight: bold}
.caixa-conteudo-1 h5{margin-bottom: 15px; color: hsl(210, 46%, 95%); font-size: 21px;}
.caixa-conteudo-1 p{margin-bottom: 15px; color: hsl(0, 0%, 81%); font-size: 14px;font-weight: bold}
.caixa-conteudo-preta h5{margin-bottom: 15px; color: hsl(210, 46%, 95%); font-size: 17px;font-weight: bold}
.caixa-conteudo-preta p{ color: hsl(0, 0%, 81%); font-size: 14px;}

}



























@media only screen and (min-width: 481px) and (max-width: 768px) {}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

.vertical {min-height: 100%; min-height: 100vh; display: flex; align-items: center;}
.horizontal {margin: 0 auto; width:100% } 
.container{padding: 0;}

.caixa-direita{margin:-25px;padding: 0; margin-bottom: 0}
.caixa-direita p{color: hsl(217, 19%, 35%)}

.caixa1{height: 280px; width: 200px;  background-origin: content-box ; background-image: url(./images/bg-pattern-quotation.svg); background-repeat: no-repeat; background-position-x: right; background-color: hsl(263, 55%, 52%);  padding: 25px; border: none; border-radius: 3%;margin-right: 20px; margin-bottom: 20px;margin-top: 50px}
.caixa2{height: 280px; background-color: hsl(217, 19%, 35%);   padding: 30px; border: none; border-radius: 3%;margin-right: 20px;margin-bottom: 20px;margin-top: 50px}
.caixa3{height: 280px; background-color: hsl(0, 0%, 100%);   padding: 35px; border: none; border-radius: 3%;margin-right: 20px; }
.caixa4{height: 280px; background-color: hsl(219, 29%, 14%);   padding: 35px;  border: none; border-radius: 3%;margin-right: 20px;}
.caixa-direita{height: 580px;background-color: hsl(0, 0%, 100%); padding: 35px; margin-top: 50px;margin-bottom: 50px;border: none; border-radius: 3%;}

.caixa-imagem{margin-bottom: 15px;}
.caixa-imagem h5{color: hsl(0, 0%, 100%) ; font-size: 13px}
.caixa-imagem h6{color: hsl(0, 0%, 81%); line-height: 10px; font-size: 13px}
.imagem-perfil{width: 35px; height: 35px; border: none; border-radius: 50%; margin: 0}

.usuario{padding-left: 0;}
.usuario h5{color: hsl(0, 0%, 100%);font-size:12px;line-height:8px }
.usuario h6{color: hsl(0, 0%, 81%); font-size:12px }
.usuario-branco h5{color: hsl(217, 19%, 35%);font-weight: 600}
.usuario-branco h6{color: hsl(0, 0%, 81%); font-weight: 600}

.caixa-conteudo h5{margin-bottom: 15px; color: hsl(210, 46%, 95%); font-size: 16px;font-weight: bold}
.caixa-conteudo p{margin-bottom: 15px; color: hsl(0, 0%, 81%); font-size: 13px}
.caixa-conteudo-branca h5{color: hsl(217, 19%, 35%); font-size: 19px; margin-bottom: 20px; font-weight: bold}
.caixa-conteudo-branca p{color:  hsl(0, 0%, 81%); font-size: 13px; font-weight: bold}
.caixa-conteudo-1 h5{margin-bottom: 15px; color: hsl(210, 46%, 95%); font-size: 21px;}
.caixa-conteudo-1 p{margin-bottom: 15px; color: hsl(0, 0%, 81%); font-size: 13px;font-weight: bold}
.caixa-conteudo-preta h5{margin-bottom: 15px; color: hsl(210, 46%, 95%); font-size: 17px;font-weight: bold}
.caixa-conteudo-preta p{ color: hsl(0, 0%, 81%); font-size: 12px;}


}

/* *********************** INICIO DESKTOP *******************************/

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

.vertical {min-height: 100%; min-height: 100vh; display: flex; align-items: center;}
.horizontal {margin: 0 auto; width:100% } 
.container{padding: 0;}

.caixa-direita{margin:-25px;padding: 0; margin-bottom: 0}
.caixa-direita p{color: hsl(217, 19%, 35%)}

.caixa1{height: 280px; width: 200px;  background-origin: content-box ; background-image: url(./images/bg-pattern-quotation.svg); background-repeat: no-repeat; background-position-x: right; background-color: hsl(263, 55%, 52%);  padding: 30px; border: none; border-radius: 3%;margin-right: 20px; margin-bottom: 20px;margin-top: 50px}
.caixa2{height: 280px; background-color: hsl(217, 19%, 35%);   padding: 30px; border: none; border-radius: 3%;margin-right: 20px;margin-bottom: 20px;margin-top: 50px}
.caixa3{height: 280px; background-color: hsl(0, 0%, 100%);   padding: 30px; border: none; border-radius: 3%;margin-right: 20px; }
.caixa4{height: 280px; background-color: hsl(219, 29%, 14%);   padding: 30px;  border: none; border-radius: 3%;margin-right: 20px;}
.caixa-direita{height: 580px;background-color: hsl(0, 0%, 100%); padding: 35px; margin-top: 50px;margin-bottom: 50px;border: none; border-radius: 3%;}

.caixa-imagem{margin-bottom: 15px;}
.caixa-imagem h5{color: hsl(0, 0%, 100%) ; font-size: 13px}
.caixa-imagem h6{color: hsl(0, 0%, 81%); line-height: 10px; font-size: 13px}
.imagem-perfil{width: 35px; height: 35px; border: none; border-radius: 50%; margin: 0;}

.usuario{padding-left: 0; text-align: left;}
.usuario h5{color: hsl(0, 0%, 100%);font-size:12px;line-height:8px }
.usuario h6{color: hsl(0, 0%, 81%); font-size:12px }
.usuario-branco h5{color: hsl(217, 19%, 35%);font-weight: 600}
.usuario-branco h6{color: hsl(0, 0%, 81%); font-weight: 600}

.caixa-conteudo h5{margin-bottom: 15px; color: hsl(210, 46%, 95%); font-size: 16px;font-weight: bold}
.caixa-conteudo p{margin-bottom: 15px; color: hsl(0, 0%, 81%); font-size: 13px}
.caixa-conteudo-branca h5{color: hsl(217, 19%, 35%); font-size: 19px; margin-bottom: 20px; font-weight: bold}
.caixa-conteudo-branca p{color:  hsl(0, 0%, 81%); font-size: 13px; font-weight: bold}
.caixa-conteudo-1 h5{margin-bottom: 15px; color: hsl(210, 46%, 95%); font-size: 21px;}
.caixa-conteudo-1 p{margin-bottom: 15px; color: hsl(0, 0%, 81%); font-size: 13px;font-weight: bold}
.caixa-conteudo-preta h5{margin-bottom: 15px; color: hsl(210, 46%, 95%); font-size: 17px;font-weight: bold}
.caixa-conteudo-preta p{ color: hsl(0, 0%, 81%); font-size: 12px;}
}